.shadow{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.radius_box{
    -fx-background-radius: 15px ;
}
.sidebarItem:hover{
    -fx-background-color: #062c80 ;
    -fx-border-color: #062c80;
    -fx-border-width: 0px 3px 0px 0px;
}
.backgroundColor{
    -fx-background-color: linear-gradient(to left, #062c80,#041A4EFF);
}
.input {
    font: small-caption;
    font-size: 16px;
}